.about {
  position: relative;
  margin-top: 120px;
}

.about::after {
  content: "";
  background-color: #f0f0f0;
  height: 180px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
}

.bg {
  /* background-image: url("public/images/about-img@2x-min.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px 0 110px 50px;
}

@media only screen and (max-width: 599px) {
  .bg {
    padding: 50px 20px;
  }
}

.box {
  max-width: 590px;
  padding: 50px 30px;
  background-color: rgba(255, 255, 255, 0.95);
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.text {
  line-height: 2;
  margin: 30px 0;
}

.btn {
  width: 160px;
  height: 36px;
  display: block;
  background-color: #000;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 1.2rem;
}
