.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  padding-top: 180px;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

@media only screen and (max-width: 1024px) {
  .menu {
    width: 67.7vw;
  }
}

.item {
  text-align: center;
  margin-bottom: 30px;
}

.item:first-of-type {
  margin-bottom: 40px;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item a {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

body.noscroll {
  overflow: hidden;
}

.menu.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.bg {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
}

.black.menu {
  color: #333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
