/* ヘッダー
--------------------------------------------------------------- */
.logo {
  width: 260px;
  position: fixed;
  top: 30px;
  left: 4.027vw;
  z-index: 1;
}

.logo svg {
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .logo {
    width: 180px;
    top: 20px;
  }
}

.logo.black svg path {
  fill: #333;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  padding-top: 180px;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

@media only screen and (max-width: 1024px) {
  .menu {
    width: 67.7vw;
  }
}

.item {
  text-align: center;
  margin-bottom: 30px;
}

.item:first-of-type {
  margin-bottom: 40px;
}

.item:last-of-type {
  margin-bottom: 0;
}

.item a {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

body.noscroll {
  overflow: hidden;
}

.menu.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.bg {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
}

.btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 30px;
  right: 4.027vw;
  z-index: 3;
}

.bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.top {
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.bottom {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.menu {
  display: block;
  text-transform: uppercase;
  color: #fff;
  margin-left: 7px;
  font-weight: bold;
  font-size: 1rem;
}

.bar.cross.top {
  -webkit-transform: translateY(2px) rotate(30deg);
  transform: translateY(2px) rotate(30deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.bar.cross.middle {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.bar.cross.bottom {
  -webkit-transform: translateY(-2px) rotate(-30deg);
  transform: translateY(-2px) rotate(-30deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.black.bar {
  background-color: #333;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.black.menu {
  color: #333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/* フッター
--------------------------------------------------------------- */
/* footer {
  background-color: #525252;
  height: 50px;
  text-align: center;
}

footer small {
  font-size: 1rem;
  color: #fff;
  line-height: 50px;
} */
/*# sourceMappingURL=style.css.map */
