/* works,culture
-------------------------------------------------------------- */
.wrapper {
  padding: 80px 60px;
  background-color: #f0f0f0;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    padding: 40px 0;
  }
}

.inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .items {
    display: block;
  }
}

.item {
  width: 47.27%;
}

@media only screen and (max-width: 1024px) {
  .item {
    width: 67.786%;
  }
}

@media only screen and (max-width: 599px) {
  .item {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .item:first-of-type {
    margin-bottom: 40px;
  }
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.img_wrapper {
  margin-bottom: 30px;
}

.text {
  margin-bottom: 28px;
}

.btn {
  width: 160px;
  height: 36px;
  display: block;
  background-color: #000;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-size: 1.2rem;
}
