.fv {
  height: 60vh;
  min-height: 450px;
}

.fv::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 60vh;
  min-height: 450px;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .fv::after {
    width: 73.177%;
  }
}

.img {
  height: 86.486%;
  width: 76.388%;
  /* background-image: url("src/images/photo-of-people-looking-on-tablet-1@2x-min.png"); */
  background-size: cover;
  background-position: center 0;
  position: relative;
  background-color: #555;
  background-blend-mode: overlay;
}

.inner {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}

@media only screen and (max-width: 1024px) {
  .inner {
    right: -15%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
}

.text {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
}

@media only screen and (max-width: 599px) {
  .text {
    font-size: 1.6rem;
  }
}

.title {
  font-size: 7.2rem;
  font-weight: bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

@media only screen and (max-width: 599px) {
  .title {
    font-size: 5.4rem;
  }
}
