@charset "UTF-8";
/* リセット
--------------------------------------------------------------- */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* 設定
--------------------------------------------------------------- */
/* ベース
--------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  font-size: 1.6rem;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

ul {
  list-style-type: none;
}

input,
textarea {
  resize: none;
  outline: none;
  border: none;
}

/* ヘッダー
--------------------------------------------------------------- */
.header__logo {
  width: 260px;
  position: fixed;
  top: 30px;
  left: 4.027vw;
  z-index: 1;
}

.header__logo svg {
  width: 100%;
}

@media only screen and (max-width: 599px) {
  .header__logo {
    width: 180px;
    top: 20px;
  }
}

.header__logo.black svg path {
  fill: #333;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 36.1vw;
  padding-top: 180px;
  background-color: rgba(34, 34, 34, 0.95);
  z-index: 2;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

@media only screen and (max-width: 1024px) {
  .burger-menu {
    width: 67.7vw;
  }
}

.burger-menu__item {
  text-align: center;
  margin-bottom: 30px;
}

.burger-menu__item:first-of-type {
  margin-bottom: 40px;
}

.burger-menu__item:last-of-type {
  margin-bottom: 0;
}

.burger-menu__item a {
  font-weight: bold;
  color: #fff;
  font-size: 2rem;
}

body.noscroll {
  overflow: hidden;
}

.burger-menu.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

.burger-bg {
  display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 34, 0.6);
  z-index: 1;
}

.burger-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 30px;
  right: 4.027vw;
  z-index: 3;
}

.burger-btn__bar {
  display: block;
  background-color: #fff;
  height: 2px;
  width: 22px;
  border-radius: 1px;
}

.burger-btn__bar--top {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger-btn__bar--bottom {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger-btn__menu {
  display: block;
  text-transform: uppercase;
  color: #fff;
  margin-left: 7px;
  font-weight: bold;
  font-size: 1rem;
}

.burger-btn__bar.cross.burger-btn__bar--top {
  -webkit-transform: translateY(2px) rotate(30deg);
          transform: translateY(2px) rotate(30deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger-btn__bar.cross.burger-btn__bar--middle {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.burger-btn__bar.cross.burger-btn__bar--bottom {
  -webkit-transform: translateY(-2px) rotate(-30deg);
          transform: translateY(-2px) rotate(-30deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.black.burger-btn__bar {
  background-color: #333;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.black.burger-btn__menu {
  color: #333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

/* フッター
--------------------------------------------------------------- */
footer {
  background-color: #525252;
  height: 50px;
  text-align: center;
}

footer small {
  font-size: 1rem;
  color: #fff;
  line-height: 50px;
}
/*# sourceMappingURL=style.css.map */